#heading{
	text-align: center;
	font-variant-caps: small-caps;
	font-size: 50px;
	font-family: Aclonica;

}
#ppf{
	text-align: center;
	font-size: 15px;
	font-variant-caps: small-caps;
	font-family: sans-serif;
	white-space: pre;

	}	
